<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="d-none d-md-block col-md-3 faq-nav mb-5">
        <div class="sidebar-item">
          <div class="make-me-sticky">
            <ul>
              <li><%= link_to "Bagaimana Cara Kerja Kompor Induksi?", "#cara-kerja-kompor-induksi" %></li>
              <li><%= link_to "Apa Perbedaan Kompor Listrik Dan Kompor Induksi?", "#perbedaan-kompor-listrik-dan-induksi" %></li>
              <li><%= link_to "Kompor Induksi Lebih Baik, Kenapa?" , "#kompor-induksi-lebih-baik" %></li>
              <li><%= link_to "Apa Kekurangan Kompor Induksi?", "#kekurangan-kompor-induksi" %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9 faq-content">
        <div class="faq-item">
          <h1>SERBA-SERBI KOMPOR INDUKSI</h1>
          <p>Seperti yang kita tahu, umumnya masyarakat Indonesia masih menggunakan kompor gas, 
            tapi seiring dengan perkembangan jaman, kompor induksi juga makin diminati lho!</p>
        </div>
        <div class="faq-item" id="cara-kerja-kompor-induksi">
          <h2>BAGAIMANA CARA KERJA KOMPOR INDUKSI?</h2>
          <p>Kompor induksi adalah kompor yang memanaskan peralatan masak di atasnya dengan tenaga listrik. 
            Jadi tidak ada api yang digunakan. <br /><br />

            <%= image_tag "masak-vege.jpg", class: "p-image mr-4 mb-4 pull-left" %>
            Cara kerjanya adalah ketika alat masak diletakkan di atasnya, arus listrik bolak-balik dilewatkan
            melalui gulungan kawat yang ada di dalam badan kompor. Kemudian menghasilkan medan magnet
            berosilasi, yang menunjukkan fluks magnet dan menghasilkan arus eddy. Arus eddy yang mengalir
            melalui resistansi alat masak memanaskan alat masak secara bergantian. 
          </p>
          <p><b>Bahasa simple-nya</b>, kompor induksi memanaskan alat masak yang diletakkan di atasnya
            secara langsung dengan induksi magnetik. Alat masak tidak jadi panas karena permukaan kompor-nya
            panas seperti pada kompor gas. Tapi panas langsung dialirkan ke alat masak yang membuat masakan
            di dalamnya matang. Jadi, permukaan kompor tidak panas, aman jika tersentuh.</p>
        </div>
        <div class="faq-item" id="perbedaan-kompor-listrik-dan-induksi">
          <h2>KOMPOR LISTRIK? KOMPOR INDUKSI? APA BEDANYA?</h2>
          <p>Sebenarnya istilah kompor listrik adalah untuk kompor yang menggunakan energi listrik. 
            Kompor listrik itu antara lain memiliki dua jenis, yaitu : 
          </p>
          <ol>
            <li>Kompor elektrik</li>
            <li>Kompor induksi</li>
          </ol>
          <p>Apa perbedaannya?<br />
            Kompor elektrik adalah kompor yang menggunakan resistor berukuran besar yang terbuat dari
            nikrom kawat. Panas dialirkan melalui permukaannya yang berbentuk melingkar seperti obat
            nyamuk ini.
          </p>
          <%= image_tag "kompor-elektrik.jpg", class: "p-image -3 mr-5" %>
          <%= image_tag "kompor-elektrik-2.jpg", class: "p-image mb-3" %>
          <p> Sedangkan kompor induksi adalah kompor yang memanaskan langsung alat masak di atasnya dengan 
            induksi magnetik.<br/><br/>
            Perbedaan lainnya adalah 
          </p>
          <ol>
            <li>
              Kompor induksi menghasilkan panas yang lebih cepat, merata, dan
              konsisten daripada kompor elektrik, sehingga energi yang dibutuhkan lebih hemat dan waktu
              memasak pun lebih cepat.
            </li>
            <li>
              Permukaan kompor induksi tidak panas, sedangkan permukaan kompor
              elektrik panas pada saat digunakan memasak. Namun keduanya sama-sama lebih aman, karena
              tidak menggunakan api sehingga dapat menghindari resiko kebakaran dan tidak membuang emisi
              seperti CO2.
            </li>
          </ol>
        </div>
        <div class="faq-item" id="kompor-induksi-lebih-baik">
          <h2>KOMPOR INDUKSI LEBIH BAIK, KENAPA ?</h2>
          <p>Teknologi baru semakin memanjakan masyarakat dengan pilihan-pilihan baru, salah satunya
             nyawa dapur kita, yaitu kompor. Saat ini kompor induksi menjadi pilihan terbaru untuk fungsi
             memasak yang lebih praktis dan aman.<br />
             Masih ga yakin mau pakai kompor induksi? Yuk baca terus!
          </p>
          <p>Berikut beberapa kelebihan kompor induksi :</p>
          <ul class="nav-title">
            <li> 
              <h4>#1 Lebih Aman dan Ramah Lingkungan</h4>
              <p>Takut gas bocor? Suka lupa matiin kompor setelah masak? Khawatir anak anda memainkan
                 kompor saat anda masak?<br />
                 Dengan kompor induksi, masalah-masalah tadi tidak akan anda alami.<br /><br />

                 <%= image_tag "cooking-with-kids.jpg", class: "p-image pull-right ml-4 mb-4" %>
                 Kompor induksi tidak menghasilkan api, tidak ada resiko meledak jika tabung gas
                 tidak terpasang dengan baik seperti pada kompor gas. Permukaan kompor induksi juga
                 tidak dipanaskan, sehingga aman jika tersentuh.
              </p>
              <p>
                 Kompor induksi Kanahome dilengkapi sensor untuk menghentikan proses pemanasan jika
                 suhu di permukaan kompor sudah terlalu panas atau jika tidak ada alat masak diletakkan
                 di atas kompor, juga ada fitur timer sehingga kompor akan mati sendiri dalam waktu
                 yang sudah di-set.<br /><br />
                 Untuk keluarga dengan anak-anak, kompor induksi Kanahome dapat menjadi pilihan juga
                 karena dilengkapi dengan fitur child lock yaitu fungsi mengunci tombol pada saat
                 proses memasak sehingga anak-anak tidak dapat mengubah pengaturan memasak.
              </p>
              <p style="display:inline-block">
                 <%= image_tag "tidak-panas.jpg", class: "img-fluid mb-4" %>
                 Selain itu, kompor induksi lebih ramah lingkungan. Tidak ada api, tidak ada asap,
                 berarti tidak mengeluarkan emisi berupa karbondioksida. Kompor induksi juga
                 tidak menghasilkan gas buang (reduksi) yang akan mengakibatkan polusi. 
              </p>
            </li>
            <li> 
              <h4>#2 Bentuk Modern dan Elegan</h4>
              <p>Bentuk kompor induksi Kanahome ramping dan modern sehingga dapat membuat dapur
                 anda terlihat lebih cantik dan rapi, juga cocok untuk interior rumah atau apartemen
                 "kekinian".
              </p>
              <p style="display:inline-block">
                <%= image_tag "drawer.jpg", class: "img-fluid mb-4" %>
                 Untuk dapur yang berukuran lebih kecil, kompor induksi yang ramping ini akan lebih
                 menghemat ruang, mudah untuk disimpan, lebih mudah untuk dibersihkan, dan karena tidak ada api, maka
                 tidak akan membuat dapur yang kecil semakin panas saat memasak (anda tidak perlu
                 basah kuyup dengan keringat setiap kali memasak).
              </p>
            </li>
            <li> 
              <h4>#3 Panas yang dihasilkan lebih efisien</h4>
              <p>               
                <%= image_tag "panas-merata.jpg", class: "p-image pull-left mr-4 mb-4" %>
                 Panas yang dihasilkan kompor induksi lebih efisien daripada kompor gas. Bentuknya yang
                 pipih membuat panas yang diterima oleh alat masak lebih merata dan diterima 90% oleh
                 alat masak. Sedangkan kompor gas menghasilkan api yang tidak merata, kadang api besar
                 di bagian tertentu sehingga panas hanya di sisi tertentu, panas yang diterima alat masak
                 hanya 65-70%. 
                 Karena itu, memasak dengan kompor induksi pun jadi lebih cepat dan efisien. Selain itu,
                 bagian bawah panci anda tidak akan menjadi hitam karena terkena panas api yang
                 berlebihan.
              </p>
            </li>
            <li> 
              <h4>#4 Lebih praktis</h4>
              <p>Anda tidak perlu lagi repot memasang tabung gas, tidak perlu menyediakan ruang untuk
                 menyimpan tabung gas yang besar dan berat (termasuk untuk menyimpan cadangannya),
                 tidak perlu takut kehabisan gas saat masak, juga tidak perlu membongkar bagian-bagian
                 kompor untuk membersihkannya.<br />
                 Untuk memasak, cukup menyambungkan kompor induksi dengan listrik, lalu nyalakan.
                 Untuk membersihkan, hanya perlu mengelap dengan cairan pembersih karena permukaan kompor
                 rata dan terbuat dari kaca.<br />
                 Kompor induksi Kanahome tersedia dalam model portable dan built-in. Dengan bentuk portable
                 yang ramping juga ringan, anda dapat dengan mudah memindahkannya ke mana saja, asalkan
                 ada sambungan listrik, langsung masak deh!</p>
            </li>
            <li> 
              <h4>#5 Hemat Waktu</h4>
              <p style="display:inline-block">
                 <%= image_tag "carefree.jpg", class: "img-fluid mb-4" %>
                 Seperti yang sudah dibahas sebelumnya, dengan panas yang efisien, membuat memasak dengan
                 kompor induksi lebih cepat.<br />
                 Untuk orang-orang dengan segudang aktivitas, yang ingin melakukan segala sesuatu dengan
                 cepat dan ringkas, kompor induksi mudah dibersihkan dan mudah disimpan.
              </p>
            </li>
            <li> 
              <h4>#6 Dilengkapi Fitur Canggih</h4>
              <p>Selain bentuknya yang modern, kompor induksi pun dilengkapi fitur modern yang dapat
                 memudahkan anda. Beberapa fitur yang dimiliki kompor induksi Kanahome yang dapat anda
                 nikmati, antara lain :
              </p>
              <ul>
                <li>
                  <h5>Child-lock</h5> 
                  <p>Mengunci tombol pengaturan sehingga anak-anak ( atau orang dewasa yang ceroboh ) 
                     tidak dapat mengubah pengaturan selama proses memasak.</p>
                </li>
                <li>
                  <h5>Sensor keamanan</h5> 
                  <p>Mematikan kompor otomatis apabila ada alat masak yang terlalu kecil 
                     (sendok/mangkok stainless yang tidak sengaja diletakkan di atas kompor) sehingga
                     alat tersebut tidak menjadi panas dan melukai orang yang menyentuhnya.
                     Sensor juga mematikan kompor apabila tidak ada alat masak yang diletakkan di
                     atasnya atau apabila suhu di permukaan kompor sudah terlalu panas.</p>
                </li>
                <li>
                  <h5>Timer </h5> 
                  <p>Berfungsi mengatur agar kompor dapat mati otomatis di waktu yang sudah ditentukan.
                     Menghindari memasak hingga gosong atau merebus hingga air habis karena ditinggal.</p>
                </li>
                <li>
                  <h5>Mode memasak</h5> 
                  <p>Memberikan berbagai anjuran panas untuk masakan yang berbeda.</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="faq-item" id="kekurangan-kompor-induksi">
          <h2>PASTI TETAP ADA KEKURANGANNYA KAN?</h2>
          <p>Ya betul, setiap pilihan pasti ada kelebihan dan kekurangannya. Tapi apa masih bisa
             ditoleransi atau tidak? Berikutnya kita bahas tentang kekurangan kompor induksi yang
             mungkin pernah anda dengar juga.
          </p>
          <ul class="nav-title">
            <li> 
              <h4>#1 Kompor Induksi Dianggap Mahal</h4>
              <p style="display:inline-block">
                <%= image_tag "K625.jpg", class: "p-image-4 pull-left mr-4 mb-4 mt-3" %>
                Dengan berbagai kelebihan dan fitur yang ada, wajar kompor induksi lebih mahal
                daripada kompor gas. Tapi jangan sedih dulu, kompor induksi Kanahome menyediakan produk
                ekonomis, hanya dengan Rp. 588.500,- anda bisa mendapatkan kompor induksi
                Kanahome tipe K-625, berhadiah panci lagi! 
                <%= link_to "Lihat disini", root_path(anchor: "produk"), class: "a-blog" %>
              </p>
            </li>
            <li> 
              <h4>#2 Menyedot Energi Listrik Banyak</h4>
              <p>
                Kompor induksi menyedot listrik banyak, tagihan listrik bisa bengkak dong!<br />
                Kami mengadakan percobaan memasak menggunakan kompor induksi Kanahome tipe K-655,
                dilakukan oleh ibu rumah tangga biasa. Hasilnya, untuk memasak satu porsi keluarga
                sup ayam dengan menggunakan ½ ekor ayam kampung, menghabiskan listrik sebesar 0.66 kWH*.
                Kalau dihitung biayanya, untuk rumah dengan daya di atas 1300 W, tarif per bulan Maret 2019
                adalah Rp 1467,-/kWH. Sehingga untuk memasak sup ayam untuk sekeluarga ini hanya perlu :<br />
                <b>0.66 x Rp 1.467,- = Rp 968,22</b>
              </p>
              <p style="display:inline-block">
                <%= image_tag "tambah daya.jpg", class: "p-image pull-right ml-4 mb-4 mt-2" %>
                Masih mahalkah menurut anda?<br />
                Untuk melihat resep masakan lain dengan perhitungan konsumsi listrik-nya, bisa lihat di
                instagram kami <%= link_to "@kanahome.id", "https://www.instagram.com/kanahome.id/", target: "_blank" %>.
                Biar begitu, daya listrik di rumah kurang, kompor induksi kan dayanya besar-besar!<br />
                Eits tunggu dulu, kompor induksi Kanahome bisa diatur mulai dari 120 W saja. Ada model
                kompor dengan maksimum daya 900 W juga. Lihat disini
                Kenapa daya kompor induksi kok besar-besar? Karena jika daya yang disediakan terlalu rendah,
                maka waktu memasak akan semakin lama dan tidak efisien, mau irit malah pailit, hehe.<br />
                Bagaimana kalau daya listrik rumah tidak cukup? Tahukah anda, saat ini PT. PLN (Persero)
                memiliki program diskon biaya tambah daya 75% untuk anda yang memiliki kompor induksi,
                tinggal bawa bukti pembeliannya saja ke PLN terdekat, yuk cuss tambah daya!
              </p>
            </li>
            <li> 
              <h4>#3 Harus Memakai Alat Masak Khusus</h4>
              <p style="display:inline-block">
                <%= image_tag "masak-model.jpg", class: "p-image-4 pull-left mr-4 mb-4 mt-2" %>
                Sebenarnya bukan alat masak khusus, tapi alat masak yang terbuat dari besi atau stainless
                steel atau bisa juga bahan lainnya seperti alumunium atau keramik tapi yang bagian bawahnya
                dilapisi double bottom untuk kompor induksi. Saat ini di pasaran pun sudah banyak dijual
                dan mudah untuk ditemukan, apalagi dengan banyaknya toko online, hanya perlu tekan saja
                maka panci induksi akan diantarkan ke rumah anda.<br />
                Untuk kompor induksi Kanahome K-625 dan K-655, anda akan mendapatkan panci sebagai hadiahnya.
                Sehingga setelah beli kompornya, anda bisa langsung masak sup ayam tanpa bingung mencari
                alat masak lagi. 
              </p>
            </li>
            <li> 
              <h4>#4 Kompor Induksi Juga Bisa Konslet</h4>
              <p style="display:inline-block">
                <%= image_tag "colokan.jpg", class: "p-image-2 pull-left mr-4 mb-4 mt-2" %>
                Cara menghindarinya sangat mudah, jangan menggunakan perpanjangan kabel bersama-bersama
                dengan alat elektronik lain, apalagi yang daya-nya besar. Jika ada masalah pada kabel
                listrik/colokan, segera hubungi service center. 
              </p>
            </li>
          </ul>
        </div>
		  </div>
    </div>
  </div>
</section>

