<% products.each do |product| %>
  <div class="col-12 col-md-4">
    <div class="pd-box tg-verifiedad">
      <figure class="img-hov detail-hov">
        <%= link_to product_path(category.permalink, product.permalink) do %>
          <%= image_tag product.primary_image, alt: "image description", class: "img-fluid" %>
        <% end %>
        <%# <%= image_tag product.primary_image, alt: "image description", class: "img-fluid"  %> %>
        <%# <a href="#" class="show-detail btn">Quick View</a> %>
      </figure>
      <div class="product_extra product_sale">Sale</div>
      <div class="pd-box-content">
        <div class="pd-box-title">
          <h4>
            <%= link_to product.name.titleize, 
                        product_path(category.permalink, product.permalink) %>
          </h4>
        </div>
        <div class="pd-box-desc">
          <%= raw(simple_format(product.short_description)) %>
        </div>
        <div class="pd-box-detail">
          <%= link_to "DETAIL", product_path(category.permalink, product.permalink) %>
        </div>
      </div>
    </div>
  </div>
<% end %>